* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 3%;
    font-family: "Inter";
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
}

ul a:hover {
    color: #39DB4A;
}

li {
    margin: 5%
}

article {
    display: flex;
}

span {
    display: flex;
}

nav {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 1%;
    padding: 10px;
    align-items: baseline;
    justify-content: space-evenly;
}

.button {
    display: inline-flex;
    border: 30%;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
    align-content: center;
}

.button img {
    height: 50%;
    width: auto;
    object-fit: contain;
    overflow: hidden;
}

#contact-button {
    background-color: #39DB4A;
    color: #ffffff;
}

#green-header-text {
    color: #39db4a;
}

.subheaders-class {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

#order-button {
    background-color: #39db4a;
    color: #ffffff;
}

#video-button-img {
    height: 70px;
    width: auto;
    object-fit: scale-down;
}

#main-image {
    height: 600px;
    width: auto;
}

#main-container {
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
}

#main-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#subheader {
    text-transform: uppercase;
    color: #ff6868;
}

.dishes {
    display: flex;
    flex-flow: row wrap;
    margin: 10%;
    justify-content: space-evenly;
    justify-items: space-evenly;
    color: #000000;
    border: #ffffff solid 1px;
    border-radius: 6px;
    box-shadow: 0.1vh 0.1vw 0.1vh;
    text-align: center;
}

.dish-cat {
    font-weight: bold;
}